@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville:wght@400;700&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #424143;
}

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  z-index: 99999;
}

.transparent {
  background-color: transparent;
}

.transparent .logo {
  visibility: hidden;
}

.solid {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.solid .logo {
  visibility: visible;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.logo img {
  width: 70px;
  height: 70px;
}

.hero, .hero_maint {
  height: 100vh;
  display: flex;
}

.hero div {
  overflow: hidden;
  min-width: 40%;
}

.hero .hero-content, .hero_maint .hero-content {
  height: 100%;
  width: 100%;
  background-color: #fbf7f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-family: "Libre Baskerville", serif;
}

.hero-content p {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.2em;
}

.hero-content h1 {
  width: 70%;
  margin: 0 auto;
}

.hero .hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.gallery {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(5, 215px);
  grid-template-columns: repeat(3, 1fr);
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
  padding: 20px 50px;
}

#gallery > div {
  text-align: center;
}

#gallery h2 {
  margin-top: 100px;
  position: relative;
  display: inline-block;
  z-index: 100;
}

#gallery h2::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 2px;
  height: 10px;
  width: 110%;
  background-color: #f7b94f;
  transform: skew(-20deg);
  z-index: -5;
}

.gallery div {
  overflow: hidden;
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.img-hover:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.img-hover:active {
  transform: none;
}

.img-large {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-large img {
  height: auto;
  max-height: calc(100vh - 60px);
  width: auto;
  max-width: 90%;
  margin: 0 auto;
}

.blocked-body {
  overflow: hidden;
  position: relative;
}

.blocked-body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 99999999;
}

.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.item-6 {
  grid-row: 3/ span 2;
  grid-column: 2 / span 2;
}
